@import "tailwindcss";

@theme {
  /* Injecting our custom poster colors into Tailwind */
  --color-brand-burgundy: #630A38;
  --color-brand-burgundy-dark: #4A072A;
  --color-brand-gold: #DFC063;
  --color-brand-gold-light: #EAD58E;
}

/* If you have any other custom CSS below this, you can leave it here! */